@model IEnumerable<ExpertSystem.Models.Location>

@{
    ViewBag.Title = "Index";
}

<h2>Lista lokalizacji</h2>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Szerokość geograficzna
        </th>
        <th>
            Wysokość geograficzna
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
    </tr>
}

</table>
