@model IEnumerable<ExpertSystem.Models.Warehouse>

@{
    ViewBag.Title = "Index";
}

<h2>Lista magazynów</h2>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Lokalizacja
        </th>
        <th>
            Magazyn
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Location.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.WarehouseID })
        </td>
    </tr>
}

</table>
